# Arquivo .gitignore para um projeto Full-Stack com .NET e Angular

# ####################### #
#    GERAL / SISTEMA      #
# ####################### #
.DS_Store
Thumbs.db
*.orig

# ####################### #
#    .NET / VISUAL STUDIO #
# ####################### #
# Ignora as pastas de build e objetos geradas pelo .NET
bin
[Oo]bj

# Ignora a pasta de configurações do Visual Studio
.vs

# Ignora arquivos de usuário específicos
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignora arquivos de cache e logs do Rider
.idea
*.sln.iml

# Ignora arquivos de teste
*.Test.csproj.user
*.testsettings

# Ignora arquivos de publicação
[Pp]ublish
[Rr]elease
[Dd]ebug

# ####################### #
#     ANGULAR / NODE.JS   #
# ####################### #
# Ignora a pasta de dependências do Node.js
node_modules

# Ignora a pasta de build do Angular
dist
.angular

# Ignora arquivos de log e temporários
npm-debug.log
yarn-debug.log
yarn-error.log
.tmp
coverage

# ####################### #
#    EDITORES DE CÓDIGO   #
# ####################### #
# Ignora configurações específicas do VS Code (exceto as compartilhadas)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json